@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@700;800&display=swap');
/* Reset default margins and paddings */
*{
    margin: 0;
    padding: 0;
}
/* Keyframes animations */

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/* @keyframes slideIn {
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
} */
/* Style the front page */
.front-page{
    /* display: none; */
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #97ffc9, #aed9ff);
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    animation: slideBottom 1s ease forwards;
}
.Hire{
    background-color: black;
    color:white;
    display: inline-block;
    padding: 8.5px 29px;
    text-decoration: none;
    border-radius: 5px;
}

/* Style the logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    
    margin-left: 5%;
}

/* Style the navigation links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: black;
}

.nav-links li {
    margin-right: 50px;
}
.nav-names{
    color: black;
}

.nav-links a {
    text-decoration: none;
    transition: color 0.3s;  
}

.nav-links a:hover {
    color: #f39c12;
}
.left-side{
    float: left;
    width: 40%;
    height: auto;
    margin-left:72px;
    margin-top: 11%;
}
.hello-heading{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: slideTop 1s ease forwards;
}
.hello-me{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.multiple-text{
    color: rgb(255, 184, 52);
}
/* style Hire_Me */
.HireMe{
    background-color: black;
    color:white;
    display: inline-block;
    padding: 8.5px 29px;
    text-decoration: none;
    border-radius: 5px;
    margin-top:6%;
    animation: slideTop 1s ease forwards;
}
.HireMe:hover{
    color: black;
    background-color: white;
    transition: .8s;
}
.Resume{
  
    align-content: center;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    display: inline-block;
    padding: 8px 24.6px;
    text-decoration: none;
    border-radius: 5px;
    margin-top:6%;
    margin-left: 3%;
    animation: slideTop 1.2s ease forwards;
}
.Resume:hover{
    transition: .8s;
    color: white;
    background-color: black;
}
.bx-download{ 
margin-left: 3px;
}
/* logos style */
.logos{
    margin-top: 8%;
}
.logos a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    
    border-radius: 50%;
   
    text-decoration: none;
    transition: .5s ease;
    animation: slideTop 1s ease forwards;
}
.logos a:hover{
    
    color: #c9c9c9;
    box-shadow: 0 0 20px  #000000;;
}

.online-1{
    color: black;
    font-size: 25.5px;
}
.online{
    color: black;
    font-size: 25.5px;
    margin-left: 2.5%;
}
/* Home_content right-Side */
.right-side{
    display: flex;
    position: absolute;
    float: left;
    background-color: rgb(255, 184, 52);
    border-radius: 50%;
    width: 450px;
    height: 450px;
    right: 16%;
    top: 20%;
    z-index: 1;
    overflow: hidden;
    rotate: -4deg;
    animation: slideTop 1s ease forwards;

}
/* style a photo */
.Photo{
    position: absolute;
    left: -28%;
    top: -4%;
    width: 714px;
    height:470px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.design-one{
    position: absolute;
    background-color: #394956;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    right: 17%;
    top: 17%;
    z-index: 0;
}
.design-two{
   position: absolute;
    background-color: #394956;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 49%;
    top: 24%;
}
.gap{
/*     display: none; */
    width: 100%;
    height: 6vh;
    background: linear-gradient(to right, #d5ffe9, #d1e7fa);
}
/* Style Skills */
.skills-info{
/*     display: none; */
    position: relative;
    /* border: 2px solid red; */
    border-bottom: 1px solid gray;
    width: 100%;
    height: 90vh; 
}
/* ............ */
.My-Skills-Heading{
    width: fit-content;
    margin-left: 5%;
    margin-top: 5%;
    color: #969696;
    font-family: 'Montserrat', sans-serif;
}
.line{
    left: 12%;
    width: 81%;
    opacity: 80%;
    border-radius: 2px;
    position: relative;
    border: 0.2px solid #969696;
    
}
.skills-Here{
    width: fit-content;
    left: 5.2%;
    top: 3%;
    font-size: 13px;
    color: #969696;
    position: relative;
    font-family: sans-serif;

}
.skills-container-one{
    width: 500px;
    height: fit-content;
    top: 10%;
    margin-left: 14%;
    float: left;
    display:table;
    position:relative;
}
.bxl-html5{
    font-size: 20px;
    
}
.bxl-css3{
    font-size: 20px;
}
.bxl-javascript{
    font-size: 20px;
}
.bxl-react{
    font-size: 20px;
}
.bxl-bootstrap{
    font-size: 20px;
}
/* ............... */
/* Skills right side style */
.skills-container-two{
    width: 477px;
    height: 56%;
    top: 4%;
    margin-left: 7%;
    float: left;
    position: relative;
}
.Skills-box-one,.Skills-box-three{
    width: 32%;
    height: 37%;
    margin: 20px;
    float: left;
    color: black;
    margin-left: 54px;
    background-color: rgb(255, 255, 255);
}
.Skills-box-one:hover , .Skills-box-three:hover{
    transition: .3s;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.Skills-box-two,.Skills-box-four{
    width: 32%;
    height: 37%;
    float: left;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0); 
}
.Skills-box-two:hover , .Skills-box-four:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}
/* .Skills-box-three{
    width: 32%;
    height: 37%;
    float: left;
    color: rgb(0, 0, 0);
    margin: 20px;
    margin-left: 54px;
    background-color: rgb(255, 255, 255);
} */
/* .Skills-box-four{
    width: 32%;
    height: 37%;
    float: left;
    color: #ffffff;
    margin: 20px;
    background-color: rgb(0, 0, 0);
} */
.Skills-box-one, .Skills-box-two, .Skills-box-three, .Skills-box-four{
    font-size: 36px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 15px 15px 0px rgb(193, 193, 193);
}
.bxl-php, .bxl-mongodb{
    color: rgb(252 252 252);
}
.bxl-nodejs, .bxl-c-plus-plus{
    color: rgb(0, 0, 0);
}
.Name-lang{
    margin-top: 5%;
    font-size: 12.5px;
    font-family: 'Montserrat', sans-serif;
}
.Skills-circle-black{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(0, 0, 0);
}
.Skills-circle-white{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
/* End skills */


/* style work info */
.Works-info-container{
/*     display: none; */
    width: 100%;
    height: 90vh;
    position:relative;
    border-bottom: 1px solid gray;
}
.info-img-container{
    width: 80%;
    height: 50%;
    top: 10%;
    left: 10.4%;
    position: relative;
}
.card{
    top: 7%;
    float: left;
    font-size: 20px;
    margin-top: 2%;
    padding: 2% 2% 0 2%;
    transition: .3s;
    /* animation: slideIn 1s ease forwards; */
}
.card:hover{
    padding: 1% 1% 0 1%;
    margin-top: .5%;
    transition: .3s ease-in-out;
    box-shadow: 0px 10px 10px 0px rgb(138, 138, 138);
}
.card-one{
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
}
.card-two{
    background-image: url(img2.jpg);
    background-position: center;
    background-size: cover;

  
}
.card-three{
    background-image: url(img3.jpg);
    background-position: center;
    background-size: cover;
  
}
.card-title{
    font-size: 20px;
}
/* works end */

/* Contact style */
.Contact-info-container{
    /* border: 2px solid red; */
/*     display: none; */
    position: relative;
    width: 100%;
    height: 90vh; 
}
.Contact-Info-Left-Side{
        top: 12%;
        left: 14%;
        position: relative;
        /* border: 2px solid rgb(0, 89, 255); */
        width: 35%;
        height: 20%;
}
.You-Need{
    font-size: 3.8rem;
}
.bx-right-arrow-alt{
    font-size: 40px;
    border-radius: 3px;
    border: 1px solid gray;
    color: rgb(255, 179, 0);
    position: absolute;
    right: 26%;
    top: 43%;
}
/* login style */


.login-container {
    bottom: 19%;
    left: 50%;
    position: relative;
    /* border: 2px solid red; */
    width: 38%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
  }
  
  .login-container h1 {
    text-align: center;
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.281); 
    border-radius: 5px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    margin-top: 1.2%;
    background-color: rgb(255, 179, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover {
    background-color:rgb(255, 197, 60);
  }
  .bxs-send{
    rotate: -50deg;
  }
  .textarea-info{
    margin-top: 1%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.281); 
    
    
  }
  .End-Container{
    /* border: 2px solid rgb(170, 255, 0); */
    width: 100%;
    height: 38vh;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color:  rgb(255, 200, 0);
  }
  .Lets-Talk{
    font-size: 3rem;
    margin-top:10%;
  }
  .End-Column{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .Talk-Icons{
    /* border: 2px solid rgb(255, 0, 43); */
    width: auto;
    height: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 20%;
  }
  
  .bxl-telegram,.bxl-instagram-alt-two{
    padding: 5%;
    font-size: 28px;
  }
  .bxl-whatsapp{
    padding: 5%;
    margin: 5%;
    font-size: 28px;
  }
  .bxl-telegram{
    margin-right: 20%;
  }
  .bxl-instagram-alt-two{
    margin-left: 20%;
  }
  .Icon-Names{
    color: rgba(255, 255, 255, 0.662);
    font-size: 13px;
  }
  
