@keyframes slideBottom {
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@media screen and (max-width:991px  ) {
    .hamburger{
        display: block;
        position: absolute;
        color: black;
        /* width: 18%; */
        right: 29px;
        top: 22px;
    }
    .nav-links{
        display: none;
    }
    .nav-links.active{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: relative;
        background-color: rgba(255, 255, 255, 0.274);
        width: 100%;
        height: 32vh;
        gap: 10px;
        animation:slideBottom 1s ease forwards ;
    }
    li{
        margin-left: 1.9%;
    }
    .Hire{
        display: none;
    }
    .column-first-container{
        position: relative;
        top: 15%;
    }
    .left-side {
        position: relative;
        /* border: 2px solid black; */
        float: left;
        width: 40%;
        margin: 0;
        padding: 0;
        height: auto;
        left: 5%;
        top: 17%;
    
    }
    .logo {
        font-size: 26px;
    }
    .hello-heading {
        font-size: 31px;
    }
    .hello-me {
        font-size: 24px;
    }
    .hello-info{
        font-size: 16px;
    }
    .HireMe {
        padding: 6.5px 27px;
    }
    .Resume {
        padding: 6.5px 25px;
    }
    .right-side {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            background-color: rgb(255, 184, 52);
            border-radius: 50%;
            width: 45%;
            height: 68%;
            left: 6%;
            top: 7%;
    }
    .Photo {
        position: relative;
        left: 0%;
        top: 1%;
        width: 670px;
        height: 436px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .bxl-html5,.bxl-css3,.bxl-javascript,.bxl-react,.bxl-bootstrap{
        font-size: 18px;
        
    }
    .skills-container-one {
        top: 8%;
    }
    .skills-container-two {
        width: 47%;
    }
    .Skills-circle-black {
        width: 45px;
        height: 45px;
    }
    .Skills-circle-white {
        width: 45px;
        height: 45px;
    }
    .progress{
        height: 10%;
    }
    .Skills-box-one{
        width: 120px;
    }
    .Skills-box-two{
        width: 120px;
    }
    .Skills-box-three{
        width: 120px;
    }
    .Skills-box-four{
        width: 120px;
    }
    .card{
        width: 32%;
    /* height: auto; */
    top: 7%;
    float: left;
    font-size: 15px;

    }
    .info-img-container{
        /* border: 2px solid red; */
        width: 85%;
        height: 35%;
        top: 2%;
        left: 8%;
    }
    .info-img-container-two{
        /* border: 2px solid red; */
        width: 85%;
        height: 35%;
        top: -3%;
        left: 8%;
    }
    .Works-info-container {
        height: 123vh;
    }
    .You-Need {
        font-size: 2.8rem;
    }
    .login-form input {
        padding: 4px;
        font-size: 14px;
    }
    .login-container {
        bottom: 15%;
    }
    .textarea-info {
        height: 83px;
        font-size: 14px;
    }
    .online {
        font-size: 28.5px;
    }
    

   
 
    
}
@media screen and (max-width:767px  ) {
    
    .column-first-container{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }
    .design-one{
        display: none;
    }
    .design-two{
        display: none;
    }
    .hello-heading {
        font-size: 24px;
    }
    .hello-me {
        font-size: 22px;
    }
    .hello-info {
        font-size: 15px;
    }
    .HireMe {
        padding: 6.3px 26px;
    }
    .Resume {
        padding: 6.3px 21px;
    }
    .logos {
        margin-top: 13%;
    }
    .online {
        font-size: 31.5px;
    }
    .Photo {
        height: 344px;
    }
    .skills-info{
        height: 148vh;
    }
    .skills-container-one {
        float: none;
        width: 73%;
        top: 3%;
    }
    .skills-container-two {
        width: 64%;
        height: 33%;
        top: 11%;
        margin-left: 23%;
    }
    .Skills-box-one,.Skills-box-two,.Skills-box-three,.Skills-box-four {
        width: 35%;
        margin: 19px;
    }
    .card-black,.card-white{
        width: 42px;
        height: 42px;
    }
    .Works-info-container {
        height: auto;
    }
    .card {
        width: 100%;
    }
    .card-title {
        font-size: 18px;
    }
    .You-Need {
        font-size: 2.3rem;
    }
    .right-arrow-end {
        font-size: 32px;
        right: 19%;
    }
    .login-form input {
        font-size: 13px;
    }
    .textarea-info {
        height: 69px;
        font-size: 13px;
    }
    .login-form button {
        padding: 8px;
    }
  
  
}
@media screen and (max-width:479px  ) {
    .column-first-container {
        flex-direction: column-reverse;
        align-items: center;
        /* border: 2px solid red; */
        top: 13px;
    }
    .logo {
        font-size: 24px;
    }
    .right-side {
        width: 225px;
        left: -21%;
    }
    .Photo {
        height: 225px;
    }
    .left-side {
        width: 90%;
        left: 0;
    }
    .hello-heading,.hello-me{
        margin: 0;
    }
    .logos {
        margin-top: 10%;
    }
    .skills-container-two {
        width: 64%;
        height: 31%;
        top: 12%;
        right: 4%;
    }
    .card {
        width: 100%;
    }
  
    .Contact-Info-Left-Side {
        /* border: 2px solid red; */
        top: 3%;
        left: 18%;
        width: 68%;
    }
    .You-Need {
        font-size: 2.1rem;
    }
    .You-Need-Info{
        font-size: 16px;
    }
    .right-arrow-end {
        rotate: 90deg;
    }
    .login-container {
        top: 10px;
        left: 17%;
        width: 70%;
       
    }
    .End-Container {
        height: 35vh;
    }
    .Talk-Icons {
        top: 17%;
    }
    form input {
        font-size: 12.5px;
    }
}
@media screen and (max-width:401px  ){
    right-side {
        top: -7px;
        left: -19%;
    }
    .skills-container-two {
        width: 65%;
        height: fit-content;
        top: 7%;
        right: 7%;
    }
    .Skills-box-one, .Skills-box-two, .Skills-box-three, .Skills-box-four {
        width: 100%;
        gap: 10px;
        padding: 0;
        margin: 8px;
    }
    .skills-info{
      height: 170vh;
    }
    .card {
        left: 8%;
        width: 85%;
    }
    .You-Need {
        font-size: 2rem;
    }
    .Contact-Info-Left-Side {
        /* border: 2px solid red; */
        top: 2%;
        left: 18%;
        width: 68%;
    }
    .login-container {
        top: 10px;
        left: 15%;
        width: 72%;
    }
    .login-form input {
        font-size: 12px;
    }
    .login-form button {
        margin-top: 12px;
        top: 2px;
        padding: 6px;
        font-size: 14px;
    }
    .textarea-info {
        font-size: 12px;
    }
    .Contact-info-container {
        height: 100vh;
    }
    .End-Container {
        height: 32vh;
    }
    .Lets-Talk{
        margin-left: 12px;
    }
} 
